*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;    
}

 nav{
     font-family: 'Alfa Slab One', cursive;
     padding: 1rem 2rem;
     height: 7vh;
     min-width: 100vw;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: black;
     position: fixed;
     z-index: 10;
 }
 .dean {
    font-weight: 100;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 18px;
    text-align: center;
    font-size: 17vw;
    color: rgb(255, 196, 0);
    position: relative;
    top: 8.5vh;
    animation: deanSlide 0.4s ease-in-out; 
}

.ward{
   font-family: 'Alfa Slab One', cursive;
   letter-spacing: 12px;
   text-align: center;
   font-size: 17vw;
   color: rgb(255, 196, 0);
   position: relative;
   top: -10vh;
   font-weight: 100;
   animation: wardSlide 0.4s ease-in-out;
}

.typedtext {
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
    position: relative;
    top: -18vh;
    font-size: 6vw;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
}


.name{
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    min-width: 100vw;

}

ul ,li{
    display: flex;
    list-style: none;
    margin-left: 80px;
    
}

.menu-toggle{
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 6;
    display: none;
    
    
}

.menu-toggle-list{
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 6;
}
 
 

 .logo{
     color: rgb(255, 196, 0);
     letter-spacing: 1.2px;
 }

 .logo:hover{
     color: rgb(253, 253, 252);
 }

 .logo-image{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
 }



 a {
    text-decoration: none;
    color: rgb(255, 196, 0); 
    letter-spacing: 1.2px;
    font-family: 'Alfa Slab One', cursive;
 }

 a:hover{
     color: rgb(255, 255, 255);
 }

 .burger-menu{
     width: 50px;
     height: 50px;
     display: none;
     right: calc(20px);
     top: 20px;
     position: relative;
     background: chocolate;
 }

 .top-container .name {
     background: black;
     min-width: 100vw;
     min-height: 100vh;
     
 }

 .fab{
    color:rgb(255, 196, 0) ;
    position: relative;
    top: -80px;
    font-size: 75px;
    cursor: pointer;
}


 @keyframes deanSlide {
     0%{     
       left: -200px;
       opacity: 0.2;
     }
     10%{
         left: -180px;
     }
     20%{
         left: -160px;
         opacity: 0.4;
     }
     30%{
         left: -140px;
     }
     40%{
         left: -120px;
         opacity: 0.6;
     }
     50%{
         left: -100px;
     }
     60%{
         left: -80px;
         opacity: 0.8;
     }
     70%{
         left: -60px;
         
     }
     80%{
         opacity: 0.9;
         left: -40px;

     }
     90%{
         left: -20px;

     }
     100%{
        opacity: 1;
     }
}

    @keyframes wardSlide {
        0%{     
            right: -200px;
            opacity: 0.2;
          }
          10%{
              right: -180px;
          }
          20%{
              right: -160px;
              opacity: 0.4;
          }
          30%{
              right: -140px;
          }
          40%{
              right: -120px;
              opacity: 0.6;
          }
          50%{
              right: -100px;
          }
          60%{
              right: -80px;
              opacity: 0.8;
          }
          70%{
              right: -60px;
              
          }
          80%{
              opacity: 0.9;
               right: -40px;
     
          }
          90%{
              right: -20px;
     
          }
          100%{
             opacity: 1;
          }
}

@keyframes deanwardSmall {
    0%{
        top: -100px;
        opacity: 0.1;
    }100%{
        
        opacity: 1;
    }
}
     

.typedtext::after{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    height: 4%;
    width: 1px;
    border-right: 2px solid rgb(3, 3, 3);  
    animation: blink 0.8s ease-in infinite; 
    animation-delay: 0.5s; 
}

@keyframes blink {
    
    0%{
        opacity: 0;
        border-right: 2px solid white;
    }
    49%{
        opacity: 0;
        border-right: 2px solid white;
    }
    51%{
        opacity: 1;
        border-right: 2px solid white;
    }
    100%{
        opacity: 1;
        border-right: 2px solid white;
    
    }

}

@media only screen and (max-width: 1200px){
    
    .dean{
       font-size: 20vw;
       top: 14vh;
    }
    .ward{
       font-size: 20vw;
       top: -2vh;
       
    }
    .typedtext{
        top:-6vh;
        font-size: -10vw;

    }
}

@media only screen and (max-width: 900px){
    
    .dean{
       font-size: 20vw;
       top: 14vh;
       
    }
    .ward{
       font-size: 20vw;
       top: -1vh;
       
       
    }
    .typedtext{
        top:-10vh;
        font-size: 6vw;

    }
}

@media only screen and (max-width: 790px){

    .menu{
        display: none;
    }

    .name{
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    
    .dean{
       font-size: 9vw;
       top: 18vh;
       letter-spacing: 5px;
       left: -13.5vw;
       
    }
    .ward{
       font-size: 9vw;
       letter-spacing: 4px;
       top: 11vh;
       left: -13.5vw;
       
       
    }
    .typedtext{
        top:9vh;
        font-size: 4.2vw;
        left: -14vw;

    }

    nav{
        padding:  -2em;
        
    }

    .logo-image{
        font-size: 2vw;
        left: -6vw;
    }
}

@media only screen and (max-width: 500px){
    .menu{
        display: none;
    }
    .dean{
       font-size: 20vw;
       top: 17vh;
       left: 0;
       animation: deanwardSmall 0.7s ease-in-out;
       
       
    }
    .ward{
       font-size: 20vw;
       top: 13vh;
       left: 0;
       animation: deanwardSmall 0.7s ease-in-out;
    }
    .typedtext{
        top:17vh;
        font-size: 8vw;
        left: 0;

    }
    nav{
        text-align: start;
        height: 10vh;
    }

    .links{
        display: none;
    }

    .burger-menu{
        width: 75px;
        right: -50px;
        width: 20px;
        top: 3px;
        background: transparent;
        display: block;
        top: 3px;
        position: relative;
        cursor: pointer;
    }

    .burger-line{
        width: 100%;
        height: 4px;
        margin: 5px;
        background: rgb(255, 196, 0);
    }
    .logo-image{
        font-size: 3vw;
        position: relative;
        left: -18vw;
        top: 7.5px;
    }

    .fab {
        top: 200px;
        animation: deanwardSmall 0.7s ease-in-out;
    }

    .github-pic{
        display: block;
        animation: deanwardSmall 0.7s ease-in-out;
       
    }
}




/*CARD SECTION */

.card-section {

    justify-content: space-around;
    min-width: 100vw;
    display: flex;
}

.container {
    background: hsl(0, 6%, 91%);
    flex-wrap: wrap;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.container .card {
    justify-content: center;
   
    height: 400px;
    margin-left: 3em;
    margin-right: 3em;
    width: 300px;
    align-content: center;
    box-shadow: black 2px 4px 30px;
    background-color: white;
    margin-top: 6em;
    margin-bottom: 6em;
}

.container .card:hover {
    transform: translateY(-25px);
    
}

.card-header {
    color:rgb(255, 196, 0);
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: underline;
}

.card-img {
    height: 200px;
    display: flex;
    flex-direction: column;
    background: black;
    justify-content: center;
    
    align-items: center;
    
}

.fas {
    font-size: 5rem;
    color:rgb(255, 196, 0);
}



p{
    position: relative;
    
    height:auto;
    font-size: 1rem;
    padding: 0.6em;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.card-text {
    position: relative;
    background: white;
    height: 200px;
    padding: 20px;
    width: 100%;
    
    
   
}

@media only screen and (max-width:500px){
    .container .card{
        margin-left: 0;
        margin-right: 0;
    }
}






.project-container{
    padding: 5em;
    min-width: 100vw;
    background: black;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

 .project-card {
    display: flex;
    width: 400px;
    height: 300px;
    margin: 2em;
    background: rgb(255, 196, 0);
    border-radius: 4px;
    opacity: 0.5;
    transition: 1.1s;  
    
}


.project-card:hover{
    width: 650px;
    opacity: 1;
}

.project-image{
    /* display: flex; */
    /* min-width: 393px; */
    height: 100%;
    display: flex;
    align-items: center;
    padding: 3px;
}

.left-img {
    display: flex;
    max-width: 393px;
    height: 293px;
    
    border-radius: 4px;
    transition: 1.1s;
}

.right-img {
    display: flex;
    max-width: 393px;
    height: 293px;
    display: flex;
    z-index: 2;
    border-radius: 4px;
    transition: 1.1s;
}


.project-text-box{
    display: none;
}

.project-text-box:hover{
    display: block;
}


.project-text-box-left{
    display: none;
}

.project-text-box-left:hover{
    display: block;
}

.project-text{
    text-align: center;
    opacity: 0;
    transition: 1.1s;
    display: none;
    
    
}



.project-text-left{
    position: relative;
    left: -390px;
    text-align: center;
    opacity: 0;
    transition: 1.1s;

}


.project-card-header{
    
    padding-top: 7%;
    padding-left: 40px;
    padding-right: 10px;
    text-align: center;
    opacity: 0;
    transition: 2s;
}

.p-left-header{
    position: relative;
    left: -400px;
    text-align: center;
    opacity: 0;
    transition: 1.1s;
}

.project-card:hover .project-text  {
    opacity: 1;   
    display: block;
}

.project-card:hover .project-text-left{
    opacity: 1;
}

.project-card:hover h2{
    opacity: 1;
    
}

.project-card:hover .left-img{
    margin-left: 250px;
    
}

@media only screen and (max-width:500px){
    .project-card:hover{
        height: 450px;
        opacity: 1;
        width: 350px;
        padding-top: 0;
        
    }

    .project-card{
        transition: 0.4s;
        width: 350px;
    }

    .project-card:hover .left-img{
        margin-left: 0;
        margin-bottom: 100px;
        margin-top: 0;
        position: relative;
        top: -25px;
        
        
        
        
    }

    .project-card:hover .right-img{
        margin-left: 0;
        margin-bottom: 100px;
        margin-top: 0;
        position: relative;
        top: -25px;
        
    }

    .left-img{
        transition: 0.4s;
        width:343px;
    }

    .right-img{
        transition: 0.4s;
        width:343px;
    }
    
}

.contact-container{
    display: flex;
    min-width: 100vw;
    height: 80vh;
    background: hsl(0, 6%, 91%);
    

}

.contact-header{
    color: rgb(255, 196, 0);
    text-align: center;
    font-size: 2.5rem;
    padding: 0.8em;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
    margin-left: 50px;

}

.contact-form{
    box-shadow: black 2px 4px 30px;
    min-width: 75vw;
    height: 480px;
    background: black;
    position: relative;
    top: 45px;
    border-radius: 4px;
    
}

input{
    height: 45px;
    margin-left: 250px;
}

textarea{
    margin-left: 250px;
    padding-top: 5px;
}

::-webkit-input-placeholder{
    color: rgb(255, 196, 0);
    
    font-size: 16px;
}

.form-control{
    font-size: 1.3rem;
    width: 70%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgb(255, 196, 0) ;
    color: rgb(255, 196, 0);

}

form .submit{
    width: 50%;
    border: 2px solid rgb(255, 196, 0);
    border-radius: 4px;
    margin-top: 20px;
    
}

form .submit:hover{
    background: rgb(255, 196, 0);
    color: black;
}

.contact-details{
    width: 300px;
    height: 420px;
    background: rgb(255, 196, 0);
    position: relative;
    top: 75px;
    left: 150px;
    z-index: 2;
    border-radius: 4px;
    padding: 20px;
    box-shadow: black 2px 4px 30px;

}

.contact-details-header{
    text-align: center;
    color: black;
    font-size: 1.7rem;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
}

.contact-icon{
    color: black;
    font-size: 30px;
    margin-top: 22px;
    margin-left: 15px;
}

.contact-info{
    margin-left: 8px;
    font-weight: 480;
}

@media only screen and (max-width:900px){
    .contact-form{
        display:none;
    }
    
    .contact-details{
        width: 100%;
        height: 100%;
        position: static;
        
        
    }

    .contact-container{
        height: 100%;
    }


















