*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-width: 100%;
    overflow-x: hidden;
    
}

 nav{
     font-family: 'Alfa Slab One', cursive;
     padding: 1rem 2rem;
     max-height: 8vh;
     width: 100vw;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: black;
     position: fixed;
     z-index: 2;

 }
 .dean {
    font-weight: 100;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 18px;
    text-align: center;
    font-size: 17vw;
    color: rgb(255, 196, 0);
    position: relative;
    top: 10vh;
    animation: deanSlide 0.4s ease-in-out; 
}

.ward{
   font-family: 'Alfa Slab One', cursive;
   letter-spacing: 12px;
   text-align: center;
   font-size: 17vw;
   color: rgb(255, 196, 0);
   position: relative;
   top: -10vh;
   font-weight: 100;
   animation: wardSlide 0.4s ease-in-out;
}

    .typedtext {
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
    position: relative;
    top: -18vh;
    font-size: 6vw;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
}


.name{
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;

}


 
 

 .logo{
     color: rgb(255, 196, 0);
     letter-spacing: 1.2px;
 }

 .logo:hover{
     color: rgb(253, 253, 252);
 }

 .logo-image{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
 }

 ul ,li{
     display: flex;
     list-style: none;
     margin-left: 80px;
     
 }

 a {
    text-decoration: none;
    color: rgb(255, 196, 0); 
    letter-spacing: 1.2px;
    font-family: 'Alfa Slab One', cursive;
 }

 a:hover{
     color: rgb(255, 255, 255);
 }

 .top-container .name {
     background: black;
     min-width: 100%;
     min-height: 100vh;
     
 }


 @keyframes deanSlide {
     0%{     
       left: -200px;
       opacity: 0.2;
     }
     10%{
         left: -180px;
     }
     20%{
         left: -160px;
         opacity: 0.4;
     }
     30%{
         left: -140px;
     }
     40%{
         left: -120px;
         opacity: 0.6;
     }
     50%{
         left: -100px;
     }
     60%{
         left: -80px;
         opacity: 0.8;
     }
     70%{
         left: -60px;
         
     }
     80%{
         opacity: 0.9;
         left: -40px;

     }
     90%{
         left: -20px;

     }
     100%{
        opacity: 1;
     }
}

    @keyframes wardSlide {
        0%{     
            right: -200px;
            opacity: 0.2;
          }
          10%{
              right: -180px;
          }
          20%{
              right: -160px;
              opacity: 0.4;
          }
          30%{
              right: -140px;
          }
          40%{
              right: -120px;
              opacity: 0.6;
          }
          50%{
              right: -100px;
          }
          60%{
              right: -80px;
              opacity: 0.8;
          }
          70%{
              right: -60px;
              
          }
          80%{
              opacity: 0.9;
               right: -40px;
     
          }
          90%{
              right: -20px;
     
          }
          100%{
             opacity: 1;
          }
}
     

.typedtext::after{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    height: 4%;
    width: 1px;
    border-right: 2px solid rgb(3, 3, 3);  
    animation: blink 0.8s ease-in infinite; 
    animation-delay: 0.5s; 
}

@keyframes blink {
    
    0%{
        opacity: 0;
        border-right: 2px solid white;
    }
    49%{
        opacity: 0;
        border-right: 2px solid white;
    }
    51%{
        opacity: 1;
        border-right: 2px solid white;
    }
    100%{
        opacity: 1;
        border-right: 2px solid white;
    
    }

}

@media only screen and (max-width: 1200px){
    
    .dean{
       font-size: 20vw;
       top: 11vh;
    }
    .ward{
       font-size: 20vw;
       top: -10vh;
       
    }
    .typedtext{
        top:-10vh;
        font-size: 6vw;

    }
}

@media only screen and (max-width: 900px){
    a{
        display: none;
    }
    .dean{
       font-size: 22vw;
       top: 17vh;
       letter-spacing: 12px;
    }
    .ward{
       font-size: 22vw;
       top: 14vh;
       
    }
    .typedtext{
        top:17vh;
        font-size: 10vw;

    }
    .logo{
        margin-left: 15vw;
    }
}




/*CARD SECTION */

.card-section {

    justify-content: space-around;
  
    display: flex;
}

.container {
    background: hsl(0, 6%, 91%);
    flex-wrap: wrap;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.container .card {
    justify-content: center;
   
    height: 400px;
    margin-left: 6em;
    width: 300px;
    align-content: center;
    box-shadow: black 2px 4px 30px;
    background-color: white;
    margin-top: 6em;
    margin-bottom: 6em;
}

.container .card:hover {
    transform: translateY(-25px);
    
}

.card-header {
    color:rgb(255, 196, 0);
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: underline;
}

.card-img {
    height: 200px;
    display: flex;
    flex-direction: column;
    background: black;
    justify-content: center;
    
    align-items: center;
    
}

.fas {
    font-size: 5rem;
    color:rgb(255, 196, 0);
}

p{
    height:auto ;
    font-size: 1rem;
    padding: 0.6em;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    
}

.card-text {
    position: relative;
    background: white;
    height: 200px;
    padding: 20px;
    width: 100%;
    
    
   
}

@media screen and (max-width:900px){
    .container .card{
        margin-left: 0;
    }
}




.project-container {
    align-content: center;
    align-items: center;
    justify-content: center;
    
    min-width: 100%;
    flex-wrap: wrap;
    
    display: flex;
    
    background: black;
    padding-top: 7.5em;

}

.project-container .project-card {
    position: relative;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 4em 3.8em;
    
    
    
    
}

.project-container .project-card .project-img{
    position: relative;
    display: flex;
    width: 500px;
    height: 300px;
    
    
}

.project-container .project-card .project-img img{
    position: relative;
    box-shadow: 2px 2px 20px;
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-left: 25px;
    z-index: 1;
    transition: transform 8s ease-in-out;
    border: 3px solid white;
}

.project-container .project-card:hover .project-img{
    top: -180px;
}

.project-card .project-content{
    position: relative;
    background: white;
    width: 550px;
    top: -270px;
    
    border-radius: 6px;
}

.project-card .project-content .project-text {
    height: 300px;
    position: static;
    padding-top: 20%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;    
    border-radius: 6px;
    border: 3px solid white;
    color: white;
    background-image: linear-gradient(145deg,rgb(255, 196, 0),black,rgb(255, 196, 0));
    
}

h4 {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 37%;
    color: white;
    text-decoration: underline;
}





